<div class="container mt-4 text-center">
  <div class="header">
    <div class="d-flex justify-content-between align-itmes-center">
      <div></div>
      <div class="text-center">
        <img
          [src]="'../assets/images/1.jpg'"
          alt="Circular Image"
          class="rounded-circle"
          [ngStyle]="{ width: '100px' }"
        />
        <h3>{{ user }}</h3>
      </div>
      <div class="small-images d-flex align-items-center">
        <a href="https://twitter.com/angular" target="_blank">
          <img
            [src]="'../assets/images/angular.png'"
            alt="Angular"
            class="mr-2"
            [ngStyle]="{ width: '30px' }"
          />
        </a>
        <div class="mx-4"></div>
        <a href="https://angular.io/docs" target="_blank">
          <img
            [src]="'../assets/images/documentation.png'"
            alt="Angular Documentation"
            [ngStyle]="{ width: '30px' }"
          />
        </a>
      </div>
    </div>
  </div>
</div>
